# Задание 1_Pandas

In [89]:
import numpy as np
import pandas as pd

In [90]:
data = {'Surname': ['Ivanov', 'Petrov', 'Sidorov', 'Ivanova', 'Karpov', 'Hill', 'Boni', 'Mitchell', 'Onio', 'Lavrov'],
        'age': [42, 33, 55, np.nan, 65, 23, 25, np.nan, 27, 37],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = [1,2....]

SyntaxError: invalid syntax (<ipython-input-90-13550bc1d159>, line 6)

#### 0. Создать датафрейм.

In [91]:
df = pd.read_csv('DZ2.csv', delimiter=',')

In [92]:
type(df)

pandas.core.frame.DataFrame

#### 1. Вывести информацию о датафрейме.

In [93]:
pd.read_csv('DZ2.csv', delimiter=',')

    Surname     age  visits priority
0    Ivanov      42       1      yes
1    Petrov      33       3      yes
2   Sidorov      55       2       no
3   Ivanova  np.nan       3      yes
4    Karpov      65       2       no
5      Hill      23       3       no
6      Boni      25       1       no
7  Mitchell  np.nan       1      yes
8      Onio      27       2       no
9    Lavrov      37       1       no

#### 2. Вернуть первые 3 строки DataFrame `df`.

In [94]:
df.head(3)

   Surname age  visits priority
0   Ivanov  42       1      yes
1   Petrov  33       3      yes
2  Sidorov  55       2       no

#### 3. Выберите только столбцы 'Surname' и 'age' из DataFrame `df`.

In [95]:
df[['Surname', 'age']]

    Surname     age
0    Ivanov      42
1    Petrov      33
2   Sidorov      55
3   Ivanova  np.nan
4    Karpov      65
5      Hill      23
6      Boni      25
7  Mitchell  np.nan
8      Onio      27
9    Lavrov      37

#### 4. Выберите данные в строках `[3, 4, 8]` * и * в столбцах `['Surname', 'age']`.

In [96]:
print(df.loc[3, 'Surname':'age'])
print(df.loc[4, 'Surname':'age'])
print(df.loc[8, 'Surname':'age'])

Surname    Ivanova
age         np.nan
Name: 3, dtype: object
Surname    Karpov
age            65
Name: 4, dtype: object
Surname    Onio
age          27
Name: 8, dtype: object

#### 5. Выберите строки где количество посещений банка больше 3.

In [97]:
df.loc[df['visits'] >= 3]

   Surname     age  visits priority
1   Petrov      33       3      yes
3  Ivanova  np.nan       3      yes
5     Hill      23       3       no

In [98]:
df.loc[df['visits'] > 3]

Empty DataFrame
Columns: [Surname, age, visits, priority]
Index: []

#### 6. Выберите строки, в которых отсутствует возраст.

In [99]:
df.loc[df['age']=='np.nan']

    Surname     age  visits priority
3   Ivanova  np.nan       3      yes
7  Mitchell  np.nan       1      yes

#### 7. Выберите строки, в которых клиент был больше 2х раз в банке * и * возраст составляет более 30 лет.

In [100]:
df.loc[(df['visits'] > 2) & (df['age'] > 30)]

TypeError: '>' not supported between instances of 'str' and 'int'

#### 8. Выберите строки в которых возраст от 55 до 65 (включительно).

#### 9. Измените возраст в строке '4' на 44.

#### 10. Рассчитать общее количество всех посещений.

In [101]:
df.visits.sum()

19

#### 11. Расчитайте средний возраст клиентов

In [119]:
df

    Surname age  visits priority
0    Ivanov  42       1      yes
1    Petrov  33       3      yes
2   Sidorov  55       2       no
3   Ivanova   0       3      yes
4    Karpov  65       2       no
5      Hill  23       3       no
6      Boni  25       1       no
7  Mitchell   0       1      yes
8      Onio  27       2       no
9    Lavrov  37       1       no

In [121]:
df['age'] = df['age'].replace('np.nan', 0)
print(df)

    Surname age  visits priority
0    Ivanov  42       1      yes
1    Petrov  33       3      yes
2   Sidorov  55       2       no
3   Ivanova   0       3      yes
4    Karpov  65       2       no
5      Hill  23       3       no
6      Boni  25       1       no
7  Mitchell   0       1      yes
8      Onio  27       2       no
9    Lavrov  37       1       no

In [132]:
df.age.mean()

TypeError: can only concatenate str (not "int") to str

#### 12. Добавьте новую строку `k` к `df` со значениями по вашему желанию. Затем удалите ее.

In [134]:
df

    Surname age  visits priority
0    Ivanov  42       1      yes
1    Petrov  33       3      yes
2   Sidorov  55       2       no
3   Ivanova   0       3      yes
4    Karpov  65       2       no
5      Hill  23       3       no
6      Boni  25       1       no
7  Mitchell   0       1      yes
8      Onio  27       2       no
9    Lavrov  37       1       no

#### 13. Сортируйте `df` сначала по значениям в 'age' в * возрастающем * порядке, затем по значениям в столбце 'visit' в * возрастающем * порядке.

#### 14. В столбце приоритет замените значения на `Yes` и `No`

#### 15. Предположим, у вас есть DataFrame с 10 столбцами действительных чисел, например:

```python
df = pd.DataFrame (np.random.random (size = (5, 10)), columns = список ('abcdefghij'))
```
#### Какой столбец имеет наименьшую сумму? Найдите метку этого столбца.

#### 16. Замените все пропущенные значения, на среднее по столбцу
```python
df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})
```

#### 17. Создайте два новых столбца, для From и To. Приведите названия городов к нормальному виду.

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```

#### 23. Загрузить свою таблицу данных(из реферата, курсовой, из сайта статистических данных). 

Выполните действия с таблицей:

Загрузите таблицу из файла и сохраните ее в переменную df. Используйте функцию read_

Выведите общую информацию по таблице: число строк и столбцов, типы данных в таблице. 

Есть ли в таблице пропущенные значения?

Если в таблице есть строки с пропущенными значениями, удалите их.

Сохраните изменения в df.

Выведите на экран описательные статистики по всем количественным переменным в таблице. 

Выберите какой-нибудь интересующий вас столбец и проинтерпретируйте описательные статистики по нему (т.е. опишите «обычными» словами, что значат значения типа min, std, 50% и так далее).


Переименуйте какие-нибудь столбцы в таблице (хотя бы один, можно несколько) и сохраните изменения в df.

Добавьте новые столбцы.

ссылки на сайты стат данных

    
https://data.gov.ru/taxonomy/term/9/datasets
    
http://sophist.hse.ru/rstat/

можно взять данные из задач 

https://github.com/hightemp/docNN/blob/b96f37611dd3ebdd5b2269e04582683af74b8340/articles/%D0%9F%D1%80%D0%B8%D0%BC%D0%B5%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BC%D0%B0%D1%88%D0%B8%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B8%20Data%20Science%20%D0%B2%20%D0%BF%D1%80%D0%BE%D0%BC%D1%8B%D1%88%D0%BB%D0%B5%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D0%B8.md